@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    text-transform: capitalize;
    font-family: 'Roboto',sans-serif;
    background-color: lightblue; 
    height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container {
    background-color: #60cbf5; 
    font-size: 15px;
    margin: 10px 20px;
    padding: 10px 20px;
    border-radius: 5px;
    border: 2px solid black;
    border-radius: 10px;
}
input {
    text-align: center;
    font-size: 15px;
    margin: 0;
    margin-top: 20px;
    padding: 7px 50px;
    border: 1px solid black;
    border-radius: 5px;
}
.result {
    position: relative;
    background-color: #60cbf5; 
    padding: 20px 30px;
    border-radius: 5px;
    text-align: center;
    border: 2px solid black;
    border-radius: 10px;
    display: none;
}
.icon {
    margin: 0;
}
.temp {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
}
.weather {
    font-size: 1.5rem;
    margin-bottom: 15px;
    font-weight: bold;
}
.loca {
    font-size: 1rem;
    margin-left: 2px;
    font-weight: bold;
}
.extras {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    border: 1px solid black;
    border-radius: 5px;
}
.a {
    padding: 5px 10px;
}
.btn {
    padding: 0;
    border: none;
    background-color: #60cbf5;
    cursor: pointer;
}
.back {
    position: absolute;
    left: 25px;
    top: 25px;
}